@{
    ViewBag.Title = "About";
}

@section navMenu
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <div class="navbar-form navbar-right"><a class="btn btn-default pull-right" title="Voltar" href="/"><span class="fa fa-reply"></span></a></div>
        </li>
    </ul>
}
<h2>About</h2>

<div class="container-fluid"></div>

