@model MyAdmin.Application.Models.ConfigurationModel

@{
    ViewBag.Title = "Configuration";
}

@section navMenu
{
    <ul class="nav navbar-nav">
        <li>
            <form class="navbar-form" method="post" action="~/Account/SignOut"><button type="submit" class="btn btn-default" title="Sign Out"><span class="fa fa-sign-out"></span></button></form>
        </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li>
            <div class="navbar-form navbar-right"><a class="btn btn-default pull-right" title="Back" href="~/"><span class="fa fa-reply"></span></a></div>
        </li>
    </ul>
}

<div class="container-fluid" ng-controller="ConfigurationController as config">
    <h3>Shortcuts</h3>

    <div role="form" class="form">
        <div class="form-group">
            <label for="">Ctrl + 1</label>
            <input type="text" class="form-control" ng-model="config.ctrl1">
        </div>
        <div class="form-group">
            <label for="">Ctrl + 2</label>
            <input type="text" class="form-control" ng-model="config.ctrl2">
        </div>
        <div class="form-group">
            <label for="">Ctrl + 3</label>
            <input type="text" class="form-control" ng-model="config.ctrl3">
        </div>
        <button class="btn btn-default" ng-click="config.save()">Save</button>
        <span class="fa fa-check text-white" ng-class="{ 'sucessAnimation': config.saveVisible }"></span>
    </div>

    <h3 class="header-inline">Connection Strings</h3>
    <span class="fa fa-chevron-right icon-json-panel" ng-click="config.togleJsonPanel()"></span>
    <div class="form-inline header-inline" role="form" ng-class="{'hidden' : !config.panelJsonVisible}">
        <div class="form-group">
            <label class="sr-only">Json Connection</label>
            <input type="text" class="form-control" placeholder="json" ng-model="config.jsonConnections">
        </div>
        <button class="btn btn-default" ng-click="config.setJsonConnections()">Save Json</button>
        <span class="fa fa-check text-white" ng-class="{ 'sucessAnimation': config.saveJsonVisible }"></span>
    </div>
    <div class="form-inline separate-bottom" role="form">
        <div class="form-group">
            <label class="sr-only">Sistema</label>
            <input type="text" class="form-control" placeholder="System" ng-model="config.connection.sistema">
        </div>
        <div class="form-group">
            <label class="sr-only">Ambiente</label>
            <select class="form-control" type="text" placeholder="Environment" ng-model="config.connection.ambiente" ng-options="opt.label for opt in config.ambientes"></select>
        </div>
        <div class="form-group form-group-6">
            <label class="sr-only">Connection Strings</label>
            <input type="text" class="form-control" placeholder="Connection Strings" ng-model="config.connection.connString">
        </div>
        <button class="btn btn-default" ng-click="config.addConnectionString()">Add</button>
        <button class="btn btn-default" ng-click="config.getJsonConnections()">Get Json</button>
    </div>

    <table class="table table-striped" ng-class="{ 'hidden': config.connections.length == 0}">
        <thead>
            <tr>
                <td><strong>System</strong></td>
                <td><strong>Environment</strong></td>
                <td><strong>Connection</strong></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="conn in config.connections track by $index">
                <td>{{conn.sistema}}</td>
                <td>{{conn.ambiente.label}}</td>
                <td>{{conn.connString}}</td>
                <td>
                    <button ng-click="config.deleteConnectionString(conn)"><span class="fa fa-trash"></span></button>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="alert alert-info">
        All information are stored localy, therefore, it is all responsability of the user.
    </p>
    
</div>

@section scripts
{

}