<!DOCTYPE html>
<html lang="en" ng-app="myAdmin">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="/Content/Images/favicon.ico" />

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="/Content/codemirror/codemirror.css" rel="stylesheet" />
    <link href="/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <link href="/Content/codemirror/addons/hints/show-hint.css" rel="stylesheet" />

    <link href="/Content/css/app.css" rel="stylesheet" />

    @Styles.Render("~/bundles/codemirror-themes")
    <title>MyAdmin.Mvc</title>
</head>
<body>

    <div ng-controller="QueryController as query">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myadmin-navbar-primary">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="/Home/About">MyAdmin <i>Beta</i></a>
                </div>



                <!-- Collect the nav links, forms, and other content for toggling -->
                <div id="myadmin-navbar-primary" class="collapse navbar-collapse">
                    @RenderSection("navMenu")
                </div>
                <!-- /.navbar-collapse -->

            </div>
            <!-- /.container-fluid -->
        </nav>

        <span class="signature pull-right">ViZeke &reg;</span>

        @RenderBody()
    </div>

    <script type="text/javascript" src="/Content/angularJS/angular.js"></script>
    <script type="text/javascript" src="/Content/angularJS/angular-sanitize.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/Content/js/shortcut.js"></script>

    <script type="text/javascript" src="/Content/codemirror/codemirror.js"></script>
    <script type="text/javascript" src="/Content/codemirror/addons/hints/sql-hint.js"></script>
    <script type="text/javascript" src="/Content/codemirror/addons/hints/show-hint.js"></script>
    <script type="text/javascript" src="/Content/codemirror/mode/sql/sql.js"></script>

    @RenderSection("scripts")

    <script type="text/javascript" src="/AngularJS/app.js"></script>
</body>
</html>
